@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

/////// Start Page----------------------

// Navigation

#TopNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $semiWhiteColor;

    h2{
        font-size: 1.5em;

    }

    .burger{
        width: 60px;
        height: 8px;
        background-color: black;
        margin: 5px;
    }
    
    .logo > a > img{
        width: 170px;
        height: 170px;
    }
    .burger-menu > img{
        width: 50px;
        height: 50px;
    }
}
.navi ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a{
    font-size: 1em;
    }
    a:hover{
        color: rgb(110, 154, 219);
    }
}


// -----------------------------------------

// Background Color & h1 --------
#index{
    background-color:$lightPinkColor;
}

.headline-1{
    @include h1;
}
// ----------------------------------


// Easter banner bar
.banner{   
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 2em;
    background-color: $lightBlueColor;
 
    h2, h3{
    font-family: 'Roboto Mono';
    font-weight: bolder;

    }
    h3{
        letter-spacing: .4em;
    }

    img{
        width: 1.2em;
        height: 1.2em;
        display: inline-block;
    }
    .banner-rabbit{
        margin-right:7px;
    }

    .fa-arrow-right{
        position: absolute;
        animation: arrow 1s ease-out infinite;

        @keyframes arrow {
            0%{
                visibility: visible;
                transform: translateX(-50px);
            }50%{
                transform: translateX(-50px)
            }100%{
                transform: translateX(0px);
            }
        }
    }
}
// ---------------------------------------------------

// Article - changing life tofu

.tofu-recipe{
    background-image: url(../../assets/main-page-bilder/tofu-start.png);
    @include article-recipe;
}

// ---------------------------------------------

// Article- Cesear Salad
.cesear-salad{
    background-image: url(../../assets/main-page-bilder/cesear-salad.jpg);
    @include article-recipe;
}
// --------------------------------


// Article - Portobello Burger
.portobello-burger{
    background-image: url(../../assets/main-page-bilder/vege-burger.jpeg);
    @include article-recipe;
}
// --------------------------------

// Article - Vegan Pizza 
.vegan-pizza-recipe{
    background-image: url(../../assets/main-page-bilder/vegan-pizza.jpeg);
    @include article-recipe;
}
// ----------------------------------


// Social Media Break 
.social-media-break{
    height: 5em;
    @include flex-center($direct: row);

    .fa-brands, .fa-solid{
        font-size: 2em;
        margin: .5em;
        color: $pinkColor
    }
}
// -----------------------------------------

// BUTTON Load more recipes
.load-more{
    @include flex-center;
    
    
    .load-more-btn{
        height: 50px;
        text-transform: uppercase;
        background-color: $lightBlueColor;
        color: black;
        border: 1px solid black;
        border: none;
        padding: .3em 1em;
        margin: 1em;
        cursor: pointer;
        }
    .load-more-btn:hover{
        background-color: $semiWhiteColor;
        color: black;
        border: $lightBlueColor 2px solid;
    }
}
// --------------------------------


// Footer
footer{
    margin-top: 1em;
    background-color: $lightBlueColor;
    text-align: center;
    .foot-subtitles{
        padding: 2em;
        
         h2{
             letter-spacing: .3em;
        }
    }
    
    .newsletter{
        .newsletter-ctn span:first-child{
            font-size: 4em;
            font-family: 'Square Peg';
            letter-spacing: .1em;

        }
        .newsletter-ctn span:nth-child(2){
            font-size: 1em;
            text-transform: uppercase;
            letter-spacing: .2em;

        }
        form {
           div {
               margin: .3em;
           }
            input{
                padding: .3em;   
                }

            .sign-in {
                input[type=submit]{
                @include read-more-btn;
                width: 200px;
                display: block;
                margin: .5em auto;
                }
                span{
                    font-size: .8em;

                }
            }  
        }
    }
    .copyrights{
        padding: 2em 0;
        p{
            font-size: .7em;
        }
    }
}

// -------------------------------

// -----------------------------------------------------------
/////// Start Page END



/////// Contact Page START

// Headline & short note -----------
.headline-contact{
    @include h1;
}
main.contact{
    background-color: $lightPinkColor;

}
.hello-contact{
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
    background-color: $semiWhiteColor;
    p{
        text-align: center;
    }
}
// -----------------------------------------

// Grid-main
.grid-main{
    position: relative;
    margin: 1em 0.3em;
    width: 100%;
    

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 7em 5em 7em 5em 4em;
    gap: 0.3em;
    > div{
    @include bg-img;
    }
        .item-1{
            background-image: url(../../assets/contact-page/cakes.jpeg);
            grid-area: 1/1/3/2;
        }
        .item-2{
            background-image: url(../../assets/contact-page/falafel.jpeg);
            grid-area: 1/2/3/4;
        }
        .item-3{
            background-image: url(../../assets/contact-page/octopus.jpeg);
            grid-area: 4/1/6/3;
        }
        .item-4{
            background-image: url(../../assets/contact-page/spring-rolls.jpeg);
            grid-area: 5/3/6/5;
        }
        .item-5{
            background-image: url(../../assets/contact-page/tacos.jpeg);
            grid-area: 3/1/4/3 ;
        }
        .item-6{
            background-image: url(../../assets/contact-page/pasta.jpeg);
            grid-area: 2/4/3/5;
        }
        .item-7{
            background-image: url(../../assets/contact-page/oat-smoothie-rassberries.jpeg);
            grid-area: 3/3/5/5;
        }
       .item-8{
        background-image: url(../../assets/contact-page/tacos-green.jpeg);
        grid-area: 1/4/2/5;

       }
}
// --------------------------------

// Contact Form
.contact-form{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    margin: 0 auto;
    padding: 2em 1em;
    background-color: $semiWhiteColor;

       .form{
           @include form;        
       }
            
        .form, .message{
            @include flex-center
        }
    
        .message textarea{
            height: 80px;
            width: 250px;
            background-color: $semiWhiteColor;
        }
}
// ------------------------

// ------------------------------------------------------------
//////Contact Page END 



////////// Recipes Page START 


// Headline----------------
.headline-recipes{
    @include h1;
    letter-spacing: .3em;
}
// -------------------------

// Recipes Settings ------------------
#recipesPage > .recipes-ctn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

        article{
        width: 10em;
        height: 12.5em;
        position: relative;

        >.recipe-intro{
            width: 100%;
            position: absolute;
            bottom: 0;

            span{
                display: block;
            }

            .fa-clock-rotate-left{
                display: none;
            }

            h3{
                font-size: 0.7em;
            }
        }
    }    
}
// -----------------------------

// Recipes----------------------
#recipesPage .gniochi{
    background-image: url(../../assets/contact-page/gnocchi.jpeg);
    @include article-recipe;
}
#recipesPage .octopus{
    background-image: url(../../assets/contact-page/octopus.jpeg);
    @include article-recipe;
}
// ------------------------------
#recipesPage .recipe-intro{
    transition: .5s ease;
    cursor: pointer;
}
// -------------------------------
////////// Recipes Page END --------------------------------------


////////// Article Page START


// Food Garden INFOGRAFIK START -----------------------
// Headline 
#articles{
    .headline-article{
        @include h1;
    }
    .food-garden{
        margin: 1em auto;
        width: 80%;
        
        display: grid;
        gap: .3em;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 7em 13em 7em 5em 4em 4em 4em 7em;
        >div{
            text-align: center;
            p{
                font-size: .8em;
                padding: .5em;

            }
        }
        img{
            @include round-image-article;

        }
        .step-0{
            grid-area: 1/1/2/2;
            background-color: $pinkColor;
            span{
                font-family: 'Bangers';
                font-size: 5em;
                color: $lightPinkColor;
            }


        }
        .step-1{
            grid-area: 1/2/2/7;
            background-color: $pinkColor;
           
            h2{
                padding: .1em;
                font-family: 'Bangers';
                letter-spacing: .1em;
                font-size: 2em;
                color: $lightPinkColor;
            }

        }
        .step-2{
            grid-area: 2/1/3/4;
            background-color: rgb(220, 211, 231);
        }

        .step-3{
            grid-area: 2/4/3/7;
            background-color: rgb(214, 241, 241);
        }
        .step-4{
            grid-area: 3/1/5/3;
            background-color: rgb(192, 216, 214);
        }
        .step-5{
            grid-area: 3/3/5/5;
            background-color: rgb(234, 222, 248);
        }
        .step-6{
            grid-area: 3/5/5/7;
            background-color: rgb(222, 250, 221);
        }
        .step-7{
            grid-area: 5/1/8/4;
            background-color: rgb(224, 238, 226);
        }
        .step-8{
            background-color: rgb(203, 235, 218);
            grid-area: 5/4/8/7;
        }
        .step-9{
            grid-area: 8/1/9/7;
            background-image: url(../../assets/articles/food-garden/plant_end.jpg);
            @include bg-img;
        }
    }
    // ----------------------------------------------

    // Sleeep INFOGRAFIK START
    .infografik{
        margin: 1em auto;
        margin-top: 3em;
        width: 80%;
        background-color: $lightBlueColor;
        .title .tip{
            padding: 1em;
            background-color: $lightPinkColor;
            h2{
                font-size: 1.2em;
                letter-spacing: .1em;
                text-align: center;
            }
        }
        h3{
            text-align: center;
            font-size: 1.1em;
            padding-top: 1em;
            padding-bottom: 0.7em; 
        }
        .tip-1 div img, .tip-3 div img, .tip-5 div img{
            float: right;
        }
        .tip-ctn{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            margin-top: 1em;
            margin-bottom: 1em;
            padding: .3em;
            

            div > img{
                @include round-image-article;
            }
           
            .tip{
                padding: 1em;
                background-color: $semiWhiteColor;
                border-radius: 15px;
                position: relative;
                width: 50%;
                height: 30%;
              
                span{
                    font-size: 3em;
                    color: pink;
                    font-family: 'Square Peg';
                    font-weight: bolder;
                    position: absolute;
                    left: 0;                    
                }
            }

        }

        .sleep-grafik{
            background-image:url(../../assets/articles/sleep-well/sleeping.png);
            @include bg-img; 
            width: 100%;
            height: 250px;
            background-color: $lightPinkColor;

            .intro {
                padding: 1em;
                background-color: rgba(255, 255, 255, 0.87);
                border-radius: 15px;
                position: relative;
                width: 85%;
            }   
        }
    }
    // -----------------------------
}

// ------------------------------

// -------------------------------------------------------------
//////// Article Page End



// Muster PAge - work in progress Start

#workInProgress{  
    h2{
        width: 100%;
        letter-spacing: 0.3em;
        padding: 1em;
        text-align: center;
        font-size: 3em;
        font-family: 'Square Peg';
    }
    @include flex-center;
    a {
        button{
        @include read-more-btn;
        }
    }
    .first-progress {
        @include flex-wrap;
        div{
            width: 150px;
            height: 150px;
            @include bg-img;
            @include round-image-article;
            margin: 1em;
            animation: work-1 3s linear infinite;

        }
      

        & :nth-child(1){
            background-image: url(../../assets/work-in-progress/bajgiel.jpeg);
            animation-delay: 0.2s;
        }
        & :nth-child(2){
            background-image: url(../../assets/work-in-progress/ice.jpeg);
            animation-delay: 0.5s;
        } 
        & :nth-child(3){
            background-image: url(../../assets/work-in-progress/sandwich.jpeg);
            animation-delay: 0.8s;

        }
        & :nth-child(4){
            background-image: url(../../assets/work-in-progress/tuna-steak.jpeg);
            animation-delay: 1.1s;
        }

        @keyframes work-1 {
            0% { 
                opacity: 0; 
            }100% { 
                opacity: 1; 
            }
          }
    } 
}
// --------------------------------

// ---------------------------------------------------------------
// Muster Page END 



///////////  MEDIA QUERIES START -------------

// Tablet min 600px
@media screen and (min-width: 768px ) {
    #TopNav{
        justify-content: flex-start;
        h2{
            font-family: 'Square Peg';
            font-size: 3em;
            letter-spacing: .2em;

        }
        .burger-menu{
            display: none;
        }
    }
    #index {
        background-color: white;
        .index-recipes{
            width: 80%;
            margin: 0 auto;
            @include flex-wrap;

            .recipe{
                padding: 3em 0;
            }

            > .ctn-effect {
                margin: 1em;
                width: 40%;
            }
            .social-media-break{
                display: none;
            }
        }
    }

    #contact {
        .hello-contact{
            width: 70%;
            p{
                width: 100%;
                font-size: 1.2em;
            }
        }
        .grid-main{
            width: 80%;
            margin: 0 auto;

            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 9em 7em 9em 7em 6em;
        }
        .contact-form{
            .message textarea{
                height: 100px;
                width: 300px;
                background-color: $semiWhiteColor;
            }
        }
    }

    #articles{
        .wrap-infografik{
            display: flex;
        }
        .infografik{
            width: 40%;
        }
        .food-garden{
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 11em 19em 9em 7em repeat(3, 6em) 19em;
            div p{
                font-size: 1.1em;
            }

        .step-0{
            >span{
                font-size: 6.5em;
            }
            
        }
        .step-1{
            h2{
                font-size: 2.5em;
            }
        }
    }
}
}
    // ----------------------------
    
    // Desktop min 1200px
    @media screen and (min-width: 1200px){
        #TopNav{
            .burger-menu{
                display: none;
            }
        }
        #index {
            background-color: white;
            .index-recipes{
                width: 70%;
                margin: 0 auto;
                @include flex-wrap;
    
                .recipe{
                    padding: 3em 4em;
                }
    
                > .ctn-effect {
                    margin: 1em;
                    width: 40%;
                }
                .social-media-break{
                    display: none;
                }
            }
        }
        #contact {
            .hello-contact{
                width: 70%;
                p{
                    width: 100%;
                    font-size: 1.5em;
                }
            }
            .grid-main{
                width: 70%;
    
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 11em 9em 11em 9em 8em;
    
                .contact-form{
                    .message textarea{
                        height: 150px;
                        width: 500px;
                        background-color: $semiWhiteColor;
                    }
                }
            }
        }
    }
    // -------------------------------
    

    // Smartphones 320px - 600px
    @media screen and (min-width: 320px) and (max-width: 600px) {
        #TopNav{
             h2{
                display: none;
            }
        }
        #workInProgress{
            .first-progress{
                @include flex-wrap;
                > div{
                    margin: .5em;
                    height: 50px;
                    width: 50px;
                }
            }
        }
        #articles{
            .sleep-improving p{
                font-size: .8em;
            }
        }
    }
// ------------------------------

// ---------------------------------------------------
/////////Media Queries END