$lightBlueColor: rgb(236, 245, 245);
$pinkColor: rgb(182, 121, 131);
$lightPinkColor: rgb(245, 224, 227);
$semiLightPinkColor:rgba(245, 225, 228, 0.726);
$semiWhiteColor: rgba(255, 255, 255, 0.61);

/* BREAKPOINTS */
$tablet: 768px !default;
$desktop: 996px !default;